.search-box {
  text-align: center;
  &__label {
    font-size: 20px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .search-box__input {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 30px;
    font-size: 20px;
  }
}
