.employees__container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.input__form {
  background-color: rgb(246, 242, 242);
  height: 20px;
  width: 200px;
  margin-left: 1rem;
}
.search-boxes {
  width: 50%;
  margin: 0 auto;
}
