* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: linear-gradient(to bottom, #808080, #7c7cc4);
}
.flex {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 75%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  height: 60px;
  width: 200px;
  margin: 1rem auto;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .heading {
    height: 70px;
  }
  .flex {
    width: 65vw;
    height: 100%;
  }
}
