* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(215, 208, 208);
}

.flex {
  display: flex;
  margin-left: 0.5rem;
  flex-wrap: wrap;
  width: 95vw;
  height: 95vh;

  border-radius: 10px;
}
.heading {
  text-align: center;
  width: 200px;
  margin: 1rem auto;
  margin-bottom: 0;
}
