* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, #9368a4, #7c7cc4);
}
.flex {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 75%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  height: 30px;
  width: 200px;
  margin: 1rem auto;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: 2rem;
    height: 40px;
    width: 100%;
    font-size: 50px;
  }
  .flex {
    width: 65vw;
    height: 100%;
  }
}
